{% extends 'base.html' %}
{% block content %}
<div class="container mt-6">
	<div class="card col-md-5 mx-auto shadow-lg border border-warning h-100">
	<form method="post">
		{% csrf_token %}
	<h2 class="card-title">are you sure you want to delete {{h.sn}}</h2>
	<div class="row card-body">
		<div class="col">
			<a href="{% url 'stud' %}" class="btn btn-secondary form-control">no</a>
		</div>
		<div class="col">
			<input type="submit"  value="yes" class="btn btn-success form-control">
		</div>
	</div>
</form>
</div>
</div>
{% endblock %}